

/* CSS GLOBAL */

html {
    scroll-behavior: smooth;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* HEADER */

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    display: flex;
    gap: 20px;
    background-color: #333333e2;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    font-size: 12px;
    font-weight: 550;
    color: #e4e2e2;
    margin: 15px;
    text-decoration: none;
    transition: color 0.15s ease;
}

header nav a:hover {
    color: rgb(130, 44, 15);
    cursor: pointer;
}

header .logo {
    text-decoration: none;
    font-size: 14px;
    color: whitesmoke;
    font-weight: 600;
    padding: 12px;
    background: orange;
}

header .whatsapp {
    background-color: green;
    padding: 10px;
    color: #fff;
}

header .whatsapp:hover {
    cursor: pointer;
    background-color: #1EBE57;
}

p {
    text-align: center;
    padding: 0 20px;
    font-weight: 385; letter-spacing: 1px;font-size: 14px;
}

/* CONTAINER */

.container1 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    gap: 0;
    width: 90%;
    max-width: 1500px;
    margin: 0 auto;
    box-shadow: 0 4px 30px rgba(177, 172, 172, 0.53);
    justify-content: center;
}

.container1 img {
    width: 100%;
    height: 150px;
    object-fit: cover;
}

.global {
    font-size: 16px;
    text-decoration: none;
    color: rgb(129, 89, 17);
    text-align: center;
}

/* SECTION */

.grid-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    padding: 40px;
    background-color: #090909d4;
}

.grid-item {
    padding: 20px;
}

.grid-item img {
    width: 60%;
    height: auto;
}

.gridtxt h4 {
    margin-bottom: 15px;
    font-size: 25px;
    text-transform: uppercase;
    font-weight: 700;
    color: #ede5e5;
}

.gridtxt legend {
    color: #ede5e5;
    font-size: 14px;
}

/* FOOTER */

.footer {
    background-color: #333;
    padding: 20px;
    color: #fff;
    font-family: 'Poppins', sans-serif;
}

.footer .bcontainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .bcontainer .box {
    padding: 15px 30px;
}

.footer .bcontainer .box h3 {
    font-size: 15px;
    padding-bottom: 2rem;
}

.footer .bcontainer .box a {
    color: rgb(138, 49, 49);
    font-size: 12px;
    text-decoration: none;
    display: block;
    margin-bottom: 1rem;
}

.footer .bcontainer .box a:hover {
    color: #fff;
    transition: color 0.2s ease;
}




.footer .quote {
    text-align: center;
    padding-top: 3rem;
    font-size: 13px;
    border-top: 1px solid #fff;
}

.footer .quote span {
    color: #fff;
}

/* SHOP */

.search {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 10px;
}

.search input[type="search"], select, button {
    padding: 10px;
    font-size: 14px;
    border: none;
    outline: none;
}

button {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    transition: background-color 0.15s ease;
}

button:hover {
    background-color: #555;
}

/* MENU DÉROULANT */

.dropdown-menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.dropdown-menu li {
    position: relative;
    margin-right: 10px;
}

.dropdown-menu a {
    text-decoration: none;
    color: #333;
    padding: 10px;
    display: block;
    font-size: 13px;
}

.dropdown-menu ul ul {
    display: none;
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f8f8f8;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 10;
}

.dropdown-menu li:hover > ul {
    display: block;
}

.dropdown-menu li:hover > a {
    background-color: #a64d16;
    color: #fff;
}

/* PRÉSENTATION PRODUIT */

.product-grid {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #fff;
}

.product {
    width: 210px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: box-shadow 0.15s ease;
}

.product:hover {
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.product img {
    width: 100%;
    height: 250px;
    object-fit: cover;
}

.product h4 {
    font-size: 13px;
    margin: 10px 0;
    font-weight: 400;
}

.price {
    font-size: 13px;
    font-weight: 630;
    color: #312e2e;
}

.promo-price {
    color: #888;
    text-decoration: line-through;
    margin-left: 10px;
}

.view-description {
    display: inline-block;
    background-color: #1DA851;
    color: white;
    padding: 10px 15px;
    margin-top: 10px;
    text-decoration: none;
    font-size: 13px;
    border-radius: 2px;
    font-weight: bold;
    transition: background-color 0.15s ease;
}

.view-description:hover {
    background-color: #12863d;
}

/* PAGE PRODUIT */

.product-page {
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-details {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.product-image img {
    max-width: 300px;
    width: 100%;
    border-radius: 5px;
}

.product-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.product-info p {
    font-size: 0.8rem;
    color: #333;
    margin: 0;
}

.product-info p strong {
    color: #555;
}

.vendor-info {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #fafafa;
}

.vendor-info p {
    margin: 5px 0;
    font-size: 0.9rem;
    color: #444;
}

.vendor-info span {
    color: #007bff;
    font-size: 16px;
}

.vendor-info .btn-save {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: white;
    background-color: #28a745;
    padding: 8px 12px;
    border-radius: 5px;
    font-size: 0.8rem;
}

.vendor-info .btn-save:hover {
    background-color: #218838;
    transition: ease 0.15s;
}

/* btn whatsapp */

.btn-green {
    background-color: #25D366;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
}
.btn-green:hover {
    background-color: #1EBE57;
}

/* session start() user-name style */

span {
    font-size: 13px;
    color: #a64d16;
}

/* animation FadeIn */ 


/*.fade {
opacity: 0;
transition: all 0.8s ease-in-out;
}

.fade.show {
opacity: 1;
transform: translateX(0) translateY(0);
} */

/* Specific animation directions 
.fade-left {
transform: translateX(-50px);
}

.fade-right {
transform: translateX(50px);
}

.fade-bottom {
transform: translateY(50px);
}  */

