
/* Google fonts */ 


@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Quicksand:wght@300..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');


body {
    font-family: "Rubik", sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    position: sticky;
    top: 0;
    z-index: 1000;
    padding: 10px;
    display: flex;
    gap: 20px;
    background-color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    justify-content: space-evenly;
    align-items: center;
}

header nav a {
    font-size: 13px;
    font-weight: 550;
    color: #676767;
    margin: 15px;
    text-decoration: none;
}

header nav a:hover {
    color: #a64d16;
    cursor: pointer;
    transition: 0.15s;
}

header .logo {
    text-decoration: none;
    font-size: 13px;
    color: whitesmoke;
    font-weight: 550;
    padding: 12px;
    background: #a64d16;
    border-radius: 8px;
}

header .logo a {
    text-decoration: none;
    color: #fff;
}

blockquote {
    font-size: 20px;
    text-align: center;
}

blockquote span {
    font-weight: 600;
    font-style: italic;
    color: #a64d16;
}

footer {
    background-color: #2b2c2d;
    color: white;
    text-align: center;
    padding: 10px 0;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.container {
    width: 100%;
    max-width: 400px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    animation: fadeIn 0.5s forwards;
}


h2 { font-size: 15px;}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.tabs {
    display: flex;
    justify-content: space-around;
    border-bottom: 1px solid #ddd;
}

.tabs button {
    flex: 1;
    padding: 12px;
    cursor: pointer;
    background: none;
    border: none;
    font-size: 16px;
    font-family: "Rubik", sans-serif;
}

.tabs button.active {
    border-bottom: 3px solid #a64d16;
    font-weight: 450;
}

.form {
    display: none;
    padding: 20px;
}

.form.active {
    display: block;
}

.form label {
    display: block;
    margin-bottom: 6px;
    font-weight: 430;
    font-size: 14px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.form button {
    width: 100%;
    padding: 10px;
    background-color: #a64d16;
    color: #FFF;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form button:hover {
    background-color: #70320c;
    color: #fff;
    cursor: pointer;
    transition: ease 0.15s;
}

.form .cancel {
    background-color: #ddd;
    color: black;
    font-family: "Rubik", sans-serif;
}

.form .cancel:hover {
    background-color: #bbb;
}

.password-tips {
    background-color: #f7f7f7;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 13px;
}

.password-tips ul {
    margin: 0;
    padding-left: 15px;
}

.password-tips ul li {
    margin-bottom: 5px;
    color: rgb(193, 50, 10);
    list-style-type: none;
}

.password-tips ul li.valid {
    color: green;
}