

/* import Google Fonts */ 

@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
    font-family: "Roboto", serif;
    background-color: #f8f9fa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.container {
    width: 350px;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
}
.tabs {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}
.tabs button {
    flex: 1;
    padding: 10px;
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
    color: #333;
}
.tabs button.active {
    border-bottom: 2px solid #0056b3;
    font-weight: bold;
    color: #0056b3;
}
.form-group {
    margin-bottom: 15px;
}

.form-group label { font-size : 13px;}
.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.form-group button {
    width: 100%;
    padding: 10px;
    background-color: #0056b3;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-group button:hover {
    background-color: #003f8a;
}
.message
 {
    color : rgb(123, 79, 12);
    text-align: center;
    margin-top: 15px;
    font-size: 12px;
 }
.hidden {
    display: none;
}

blockquote {
    font-size: 13px;
    text-align: center;
}
blockquote span {
    color: rgb(138, 80, 14); font-weight: 500;text-decoration: underline;cursor: pointer;
}